/Hello.class
/example.class
/Hi.class
/CircleArea.class
/ScannerEx.class
/ArithmeticOperator.class
/AssignmentIncDecOperator.class
/LogicalOperator.class
/TernaryOperator.class
/TypeConversion.class
/BitOperator.class
/SuccessOrFail.class
/MultipleOfThree.class
/Grading.class
/Nestedlf.class
/NestedIf.class
/GradingSwitch.class
/CoffePrice.class
/CoffeePrice.class
